.playlistA {
    /* border: 1px solid red; */
    /* Con base en 14px de fuente base (875rem) se utilizarán em*/
    /* font-size: 14; basefont */
    inline-size: 13em; /*182px*/
    padding: 1rem;
    border-radius: .25rem;
    background: var(--gray40);
    box-sizing: border-box; /*Para que obedezcan a diferentes reglas*/
    transition: .3s background;
}

/* El focus resalta con tab */
.playlistA:hover, .playlistA:focus-within {
    cursor: pointer;
    background: var(--gray30);
}

.playlistA:hover .playlistA-cover button,
.playlistA:focus-within .playlistA-cover button {
    /* display: block; */
    opacity: 1;
    transform: translateY(0);
}

.playlistA-cover img {
    vertical-align: middle;
}

.playlistA-cover {
    position: relative;
    border-radius: .75rem;
    overflow: hidden; /*Esto para que no se desborde la imagen al poner el border en un elemento padre*/
    margin-block-end: 1rem;
}

.playlistA button {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    /* display: none; */
    opacity: 0; 
    transform: translateY(.5rem);
    will-change: opacity, transform;
    transition: .3s opacit, .3s transform;
}

.playlistA-title {
    font: var(--baseFontBold);
    color: var(--white);
    margin: 0;
}

.playlistA-description {
    font: var(--baseFont);
    margin: 0;
}