@import './slider.css';
@import './player-controls.css';
@import './player-playback.css';
@import './player-volume.css';
@import './now-playing.css';

.player {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    /* margin-block-start: 5rem; */
    /* shadow, donde se expande, x, y, que se espanda o no y color */
    box-shadow: inset 1px 1px 0 var(--gray30);
}

/* Hijo directo ocupa el 100% */
.player > * {
    flex: 1;
    /* border: 1px solid red; */
}

.player-playerVolume {
    display: flex;
    justify-content: flex-end;
}

.player-control {
    border: none;
    padding: .5rem;
    background: none;
    color: var(--gray10);
    font-size: 1rem;
    cursor: pointer;
}