@import './display-flex.css';

:root {
    --darkColor: #04001e;
    --lightColor: #DFFBFF;
    --primaryColor: #DB086F;
}

body {
    background: var(--darkColor);
    color: var(--lightColor);
    font-family: system-ui;
}

a {
    color: var(--lightColor);
}

.wrapper {
    /* max-width: 1024px; */
    max-inline-size: 64rem;  /*64x16*/
    /* border: 5px solid blue; */
    margin: auto;
}

.box {
    border: 5px dashed var(--primaryColor);
    padding: 1rem;
    counter-increment: flex-items;
}

.box::after {
    content: counter(flex-items);
}

